<section class='bg-gray-200 rounded-md my-2 py-2'>
  <header class='flex flex-col text-center px-6'>
    <h1 class='font-display font-bold text-5xl mb-6'> {{book.title}}</h1>
  </header>

  <div
    class='container mx-auto px-6 grid grid-cols-1 lg:grid-cols-2 gap-8 md:gap-12'
  >
    <div>
      <img
        src='https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80'
        class='w-full h-52 md:h-64 lg:h-96 xl:h-64 object-cover'
      />

      <div class='bg-gray-50 p-8'>
        <div class='text-xs text-gray-600 uppercase font-semibold'>published
          {{book.publishingDate}}</div>
        <h2
          class='mt-3 text-3xl mb-6 font-display text-black leading-tight max-w-sm'
        >
          {{book.author}}
        </h2>
        <p class='mt-4 max-w-md'>

        </p>
        <p class='mt-4 max-w-md'>
          {{book.genre}}
        </p>
        <p class='mt-4 max-w-md'>
          {{book.description}}
        </p>
        <a href="edit/{{book.id}}" id='update-book-btn' class='mt-4 max-w-md'> Update book </a> 
      </div>
    </div>
  </div>
</section>

